<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>choices</key>
	<dict>
		<key>红日</key>
		<string>韩,孩,晚,相,遇,身,见,日,情,水,笨,歌,红,恨,你,单,手,小,爱,见,说</string>
		<key>我可以抱你吗</key>
		<string>身,水,抱,相,我,喜,夜,水,吗,爱,以,单,你,爱,红,歌,手,小,日,红,可</string>
		<key>一场游戏一场梦</key>
		<string>三,游,夜,一,雨,戏,流,零,我,言,场,语,是,浪,场,千,只,两,梦,冰,一</string>
		<key>小苹果</key>
		<string>零,我,言,小,数,妃,有,生,果,爱,鸭,青,苹,园,一,王,歌,牵,乐,你,手</string>
		<key>海阔天空</key>
		<string>空,期,我,海,星,自,阔,一,笔,天,存,笑,然,而,城,书,的,天,忘,我,愿</string>
		<key>倒带</key>
		<string>有,身,爱,事,转,天,回,情,场,倒,若,家,裂,我,后,带,静,分,安,退,海</string>
		<key>倔强</key>
		<string>星,雪,温,记,解,忘,柔,强,天,晴,乡,释,语,飘,愿,脱,心,故,得,倔,意</string>
		<key>出卖</key>
		<string>忘,冷,草,寂,卖,情,征,寞,记,人,下,心,过,出,稻,洲,昏,火,服,沙,黄</string>
		<key>十年</key>
		<string>轻,人,情,儿,陌,囚,十,浮,生,年,夸,女,后,朋,百,七,友,痒,来,之,鸟</string>
		<key>大地</key>
		<string>风,禁,陌,继,续,脸,安,没,执,地,着,过,笑,天,妮,吹,大,妃,有,生,果</string>
		<key>后来</key>
		<string>发,崇,下,学,堂,雨,会,人,雪,水,天,来,拜,淘,知,后,全,了,短,汰,成</string>
		<key>存在</key>
		<string>半,春,忆,明,笔,天,存,脸,光,火,路,哭,青,笑,京,记,待,北,等,花,在</string>
		<key>安静</key>
		<string>静,战,退,口,止,后,远,借,回,夜,路,逆,来,记,永,安,忘,行,天,曲,妮</string>
		<key>情书</key>
		<string>笔,信,年,本,风,仰,书,十,记,光,筝,身,祝,秘,转,密,明,爱,天,情,福</string>
		<key>晴天</key>
		<string>笔,天,存,晴,笔,天,存,水,掌,画,情,手,中,美,度,沙,心,头,大,雨,温</string>
		<key>离歌</key>
		<string>不,始,天,哭,开,放,离,信,谱,说,歌,初,忘,谎,情,赞,沙,记,人,下,仰</string>
		<key>童话</key>
		<string>人,雪,水,天,童,待,日,潮,话,汐,红,青,掌,边,光,窗,等,身,明,心,鸟</string>
		<key>素颜</key>
		<string>黄,素,沫,恋,卖,鸿,自,豆,拍,禁,雁,买,海,现,大,出,都,泡,人,颜,色</string>
		<key>趁早</key>
		<string>安,没,执,地,开,放,离,信,女,你,恋,故,趁,乡,他,人,爱,谁,早,我,来</string>
		<key>逆战</key>
		<string>下,倒,感,动,卖,夜,月,女,曲,天,战,香,王,带,亮,出,山,逆,伤,稻,心</string>
		<key>王妃</key>
		<string>女,记,神,妃,藏,开,得,买,海,梅,活,思,念,话,静,着,童,王,安,收,放</string>
		<key>说谎</key>
		<string>谎,铃,见,海,流,遇,说,听,年,在,秋,千,愿,之,全,如,十,存,果,大,安</string>
		<key>天下</key>
		<string>不,始,下,脱,心,故,得,天,哭,开,放,离,信,雨,戏,乡,夸,豆,夸,逆,战</string>
		<key>曹操</key>
		<string>记,得,原,来,冻,结,情,当,爱,地,心,就,十,操,江,德,杀,手,曹,你,南</string>
		<key>在雨中</key>
		<string>人,上,美,鱼,中,国,爱,话,雨,会,学,不,爱,声,你,起,之,在,伤,路,流</string>
		<key>倍儿爽</key>
		<string>你,香,儿,人,喜,无,欢,龙,爽,草,唰,碑,倍,稻,字,风,里,卷,七,喜,唰</string>
		<key>喜欢你</key>
		<string>说,珠,爱,秋,欢,天,花,帘,你,些,春,青,喜,卷,春,里,你,年,千,致,那</string>
		<key>女人花</key>
		<string>花,杆,简,所,爱,蜜,愿,容,无,意,单,马,女,谓,我,蜜,你,人,包,套,甜</string>
		<key>小酒窝</key>
		<string>她,睫,刚,涯,要,酒,重,睡,着,窝,的,不,走,喜,刚,多,好,小,天,毛,欢</string>
		<key>当</key>
		<string>爱,阿,山,苦,冷,卷,春,里,说,听,年,在,秋,当,流,蜜,愿,容,无,树,花</string>
		<key>就是我</key>
		<string>你,看,月,够,人,想,让,美,是,见,想,下,我,赋,赤,不,光,你,壁,说,就</string>
		<key>爱</key>
		<string>冷,卷,春,里,说,听,年,在,阿,山,苦,冷,爱,远,难,你,起,买,海,恋,懂</string>
		<key>爱情路</key>
		<string>半,她,琵,一,相,他,懂,琶,人,不,语,情,梅,弟,随,洋,兄,路,好,爱,剪</string>
		<key>爱相随</key>
		<string>不,语,情,梅,弟,随,爱,阿,山,苦,怕,一,相,念,他,懂,思,睡,着,窝,小</string>
		<key>牧马人</key>
		<string>马,想,让,美,花,简,所,爱,你,人,包,套,甜,杆,牧,水,发,夏,如,木,雪</string>
		<key>狼</key>
		<string>野,秋,当,流,狼,年,在,沙,游,狂,明,家,走,我,离,寂,自,风,美,叹,年</string>
		<key>笨小孩</key>
		<string>儿,想,村,大,不,人,蛋,泰,开,笨,山,来,孩,缘,子,生,小,城,天,份,空</string>
		<key>红蜻蜓</key>
		<string>不,在,太,由,蜻,爱,恋,蜓,完,红,屈,落,自,山,果,青,日,委,见,绿,再</string>
		<key>给你们</key>
		<string>致,曲,你,春,角,在,散,大,我,终,人,边,女,婚,青,礼,独,人,戏,们,给</string>
		<key>说爱你</key>
		<string>见,想,说,我,随,爱,阿,山,苦,怕,欢,简,开,喜,没,离,他,着,单,你,过</string>
		<key>谁</key>
		<string>说,他,当,流,狼,年,谁,沙,游,狂,明,家,走,我,离,寂,自,风,美,叹,年</string>
		<key>走天涯</key>
		<string>脚,步,草,江,马,高,步,天,美,原,杆,走,人,山,兄,套,爱,红,大,吟,涯</string>
		<key>那一天</key>
		<string>天,歌,上,所,下,随,爱,海,首,滩,相,这,年,情,谓,难,那,些,无,一,了</string>
		<key>为爱疯狂</key>
		<string>执,念,我,爱,心,狂,疯,酷,的,怀,着,似,潮,冷,事,到,往,为,风,底,随</string>
		<key>一无所有</key>
		<string>由,单,有,跟,歌,爱,你,最,一,情,生,翔,无,自,有,身,飞,走,所,吧,我</string>
		<key>勇敢的心</key>
		<string>一,月,难,的,辉,生,敢,求,言,苦,石,尽,颗,沙,心,光,良,滚,用,岁,勇</string>
		<key>匆匆那年</key>
		<string>十,匆,而,年,立,不,那,之,笑,些,忘,一,匆,过,人,儿,念,花,念,曲,散</string>
		<key>快乐崇拜</key>
		<string>水,大,爱,不,乐,情,崇,如,懂,想,潮,快,歌,长,谊,开,晚,拜,深,了,始</string>
		<key>因为爱情</key>
		<string>晴,的,感,情,过,果,因,们,你,若,爱,有,我,雨,生,为,人,恩,天,心,我</string>
		<key>壁虎漫步</key>
		<string>摆,拜,眼,起,崇,背,一,漫,摇,包,快,的,步,神,乐,你,百,虎,咱,壁,姓</string>
		<key>我们的爱</key>
		<string>的,若,情,你,我,雨,生,为,我,晴,人,恩,天,过,果,爱,有,感,因,们,心</string>
		<key>我怀念的</key>
		<string>因,们,你,若,爱,有,念,我,爱,心,怀,着,似,情,无,的,为,说,天,不,话</string>
		<key>好久不见</key>
		<string>等,迷,花,看,一,想,我,见,不,起,久,悟,爱,好,你,执,好,摇,里,摆,雾</string>
		<key>断桥残雪</key>
		<string>服,钟,为,断,屏,输,人,残,生,晚,赌,缺,愿,整,而,桥,南,了,大,爱,雪</string>
		<key>时间煮雨</key>
		<string>下,机,热,年,光,时,雨,匆,林,盛,直,器,那,一,带,间,哪,夏,煮,匆,去</string>
		<key>爱的供养</key>
		<string>为,爱,小,你,我,叫,你,情,洋,养,狂,她,海,疯,微,花,笑,是,因,的,供</string>
		<key>爱的海洋</key>
		<string>你,我,洋,养,狂,微,花,笑,你,供,情,海,为,爱,小,的,疯,她,叫,是,因</string>
		<key>生如夏花</key>
		<string>一,息,新,梦,见,情,花,不,看,生,如,雾,为,爱,里,幽,夏,你,帘,生,了</string>
		<key>花房姑娘</key>
		<string>镇,不,一,散,开,姑,有,里,所,花,不,小,落,房,娘,雾,见,无,看,花,微</string>
		<key>类似爱情</key>
		<string>歌,似,非,水,人,台,已,为,因,华,年,类,情,地,过,得,电,来,不,爱,不</string>
		<key>没离开过</key>
		<string>烟,始,没,歌,恋,身,云,之,单,情,懂,过,不,岛,了,往,广,情,开,新,离</string>
		<key>那些花儿</key>
		<string>的,火,雾,乡,儿,匆,微,你,天,年,间,看,些,那,路,小,笑,花,匆,里,堂</string>
		<key>HIGH歌</key>
		<string>V,S,个,O,H,江,L,F,L,E,这,G,R,T,南,C,I,H,歌,Y,E</string>
		<key>一万个理由</key>
		<string>个,有,伤,堂,天,点,的,一,故,动,千,万,光,另,心,十,由,事,理,阴,我</string>
		<key>一生中最爱</key>
		<string>的,一,故,另,心,十,由,风,的,思,中,爱,光,岁,最,辉,我,月,生,国,相</string>
		<key>如果没有你</key>
		<string>他,不,可,我,第,天,如,一,也,果,明,世,想,界,惜,没,很,有,等,她,你</string>
		<key>兄弟抱一下</key>
		<string>天,点,的,一,抱,我,对,想,走,潇,完,你,弟,洒,爱,海,兄,回,是,不,下</string>
		<key>另一个天堂</key>
		<string>天,点,的,一,故,动,另,心,十,由,事,伤,堂,的,动,浪,最,有,迷,个,漫</string>
		<key>可惜不是你</key>
		<string>不,可,我,第,天,如,一,也,果,明,很,有,等,她,你,是,青,爱,想,苹,惜</string>
		<key>不管有多苦</key>
		<string>多,事,着,喜,往,世,欢,杯,苦,跟,恋,面,有,爱,的,干,不,外,你,管,界</string>
		<key>听妈妈的话</key>
		<string>爸,想,爱,怀,妈,长,听,回,话,在,了,大,西,来,我,前,念,不,的,妈,元</string>
		<key>布拉格广场</key>
		<string>场,很,7,幸,拉,变,你,看,每,布,喊,格,爱,2,想,他,我,一,广,次,福</string>
		<key>心中的日月</key>
		<string>来,爱,有,月,你,亮,初,心,是,果,验,的,上,就,爬,体,日,如,中,之,没</string>
		<key>我从草原来</key>
		<string>声,从,如,园,乐,的,场,有,没,来,你,草,苹,原,歌,游,我,快,里,果,青</string>
		<key>我很想爱他</key>
		<string>想,界,惜,没,很,有,等,她,你,一,也,果,明,不,可,我,第,他,爱,路,上</string>
		<key>我的歌声里</key>
		<string>里,役,是,身,我,旁,板,了,吗,声,滑,变,你,歌,有,战,在,的,最,后,鞋</string>
		<key>我的滑板鞋</key>
		<string>我,里,役,是,身,了,吗,在,后,鞋,的,最,声,滑,变,旁,板,你,歌,有,战</string>
		<key>新贵妃醉酒</key>
		<string>后,爱,有,点,酒,眼,年,睛,贵,千,的,夜,新,妃,心,零,以,动,笑,一,醉</string>
		<key>至少还有你</key>
		<string>中,思,果,愿,年,少,人,相,至,盛,但,夏,你,风,长,的,有,还,实,久,雨</string>
		<key>有一点动心</key>
		<string>酒,点,眼,后,爱,有,年,睛,笑,一,醉,贵,千,的,夜,心,新,妃,零,以,动</string>
		<key>突然的自我</key>
		<string>不,想,是,然,爱,起,对,的,宝,阳,我,又,朝,突,贝,我,落,海,好,自,你</string>
		<key>终于等到你</key>
		<string>你,在,致,曲,你,散,大,春,我,终,人,边,女,婚,青,礼,于,人,戏,到,等</string>
		<key>BADBOY</key>
		<string>K,P,O,E,S,A,S,E,P,B,I,V,Z,B,N,D,M,L,Y,T,X</string>
		<key>一个人的精彩</key>
		<string>这,会,你,里,夜,彩,也,嫁,个,不,一,要,来,的,原,人,会,在,精,给,今</string>
		<key>因为爱所以爱</key>
		<string>见,当,不,成,相,所,跟,爱,已,爱,如,柔,因,杯,往,以,念,事,为,干,怀</string>
		<key>忠孝东路走九遍</key>
		<string>心,无,爱,雨,走,情,东,跟,起,忠,你,一,的,九,无,会,孝,情,遍,路,的</string>
		<key>像梦一样自由</key>
		<string>自,他,好,由,定,个,一,的,爱,我,风,人,你,样,女,梦,难,像,是,很,人</string>
		<key>像风一样自由</key>
		<string>他,是,很,人,好,样,女,梦,难,自,像,由,一,的,爱,定,个,我,风,人,你</string>
		<key>分手总要在雨天</key>
		<string>心,无,爱,雨,在,分,东,跟,起,天,你,一,的,九,无,会,要,情,遍,手,总</string>
		<key>外婆的澎湖湾</key>
		<string>雨,谁,十,澎,七,乡,在,外,间,路,婆,小,季,泪,湖,岁,上,飞,的,眼,湾</string>
		<key>当爱已成往事</key>
		<string>成,回,难,放,那,味,没,已,一,能,事,只,爱,路,人,当,生,个,往,好,条</string>
		<key>今天你要嫁给我</key>
		<string>这,天,你,里,夜,彩,也,嫁,个,不,会,要,来,的,原,人,会,在,我,给,今</string>
		<key>想把我唱给你听</key>
		<string>你,爱,里,把,的,唱,一,特,我,个,冬,让,想,够,天,听,火,次,们,给,别</string>
		<key>我的未来不是梦</key>
		<string>的,难,路,梦,颜,未,容,眼,的,抗,是,有,以,我,小,不,只,来,拒,里,你</string>
		<key>有没有人告诉你</key>
		<string>有,心,熟,走,人,起,最,告,一,悉,没,人,爱,有,生,会,诉,陌,跟,你,的</string>
		<key>流着泪的你的脸</key>
		<string>吹,天,你,今,泪,风,的,要,想,分,着,的,和,嫁,吹,给,流,去,手,脸,我</string>
		<key>男人哭吧不是罪</key>
		<string>颜,男,不,难,路,人,容,眼,哭,抗,吧,有,以,罪,小,不,只,是,拒,里,你</string>
		<key>白天不懂夜的黑</key>
		<string>懂,起,天,有,心,不,走,告,一,爱,有,黑,的,没,人,会,跟,你,白,诉,夜</string>
		<key>看月亮爬上来</key>
		<string>上,外,爬,湾,月,些,婆,亮,的,有,我,看,心,湖,代,那,来,澎,事,没,表</string>
		<key>难以抗拒你容颜</key>
		<string>未,里,你,的,难,路,抗,是,颜,有,以,梦,容,眼,小,不,只,的,我,来,拒</string>
	</dict>
	<key>musicPlaying</key>
	<array/>
	<key>musicUnfinished</key>
	<array>
		<array>
			<string>倒带</string>
			<string>倔强</string>
			<string>出卖</string>
			<string>十年</string>
			<string>大地</string>
			<string>后来</string>
			<string>存在</string>
			<string>安静</string>
			<string>情书</string>
			<string>晴天</string>
			<string>离歌</string>
			<string>童话</string>
			<string>素颜</string>
			<string>红日</string>
			<string>趁早</string>
			<string>逆战</string>
			<string>王妃</string>
			<string>说谎</string>
			<string>曹操</string>
			<string>天下</string>
		</array>
		<array>
			<string>在雨中</string>
			<string>倍儿爽</string>
			<string>喜欢你</string>
			<string>女人花</string>
			<string>小苹果</string>
			<string>小酒窝</string>
			<string>当</string>
			<string>就是我</string>
			<string>爱</string>
			<string>爱情路</string>
			<string>爱相随</string>
			<string>牧马人</string>
			<string>狼</string>
			<string>笨小孩</string>
			<string>红蜻蜓</string>
			<string>给你们</string>
			<string>说爱你</string>
			<string>谁</string>
			<string>走天涯</string>
			<string>那一天</string>
		</array>
		<array>
			<string>为爱疯狂</string>
			<string>一无所有</string>
			<string>勇敢的心</string>
			<string>匆匆那年</string>
			<string>快乐崇拜</string>
			<string>因为爱情</string>
			<string>壁虎漫步</string>
			<string>我们的爱</string>
			<string>我怀念的</string>
			<string>好久不见</string>
			<string>断桥残雪</string>
			<string>时间煮雨</string>
			<string>海阔天空</string>
			<string>爱的供养</string>
			<string>爱的海洋</string>
			<string>生如夏花</string>
			<string>花房姑娘</string>
			<string>类似爱情</string>
			<string>没离开过</string>
			<string>那些花儿</string>
		</array>
		<array>
			<string>HIGH歌</string>
			<string>一万个理由</string>
			<string>一生中最爱</string>
			<string>如果没有你</string>
			<string>兄弟抱一下</string>
			<string>另一个天堂</string>
			<string>可惜不是你</string>
			<string>不管有多苦</string>
			<string>听妈妈的话</string>
			<string>布拉格广场</string>
			<string>心中的日月</string>
			<string>我从草原来</string>
			<string>我很想爱他</string>
			<string>我的歌声里</string>
			<string>我的滑板鞋</string>
			<string>新贵妃醉酒</string>
			<string>至少还有你</string>
			<string>有一点动心</string>
			<string>突然的自我</string>
			<string>终于等到你</string>
		</array>
		<array>
			<string>我可以抱你吗</string>
			<string>BADBOY</string>
			<string>一个人的精彩</string>
			<string>因为爱所以爱</string>
			<string>忠孝东路走九遍</string>
			<string>像梦一样自由</string>
			<string>像风一样自由</string>
			<string>分手总要在雨天</string>
			<string>一场游戏一场梦</string>
			<string>外婆的澎湖湾</string>
			<string>当爱已成往事</string>
			<string>今天你要嫁给我</string>
			<string>想把我唱给你听</string>
			<string>我的未来不是梦</string>
			<string>有没有人告诉你</string>
			<string>流着泪的你的脸</string>
			<string>男人哭吧不是罪</string>
			<string>白天不懂夜的黑</string>
			<string>看月亮爬上来</string>
			<string>难以抗拒你容颜</string>
		</array>
	</array>
	<key>difficulty</key>
	<string>1</string>
	<key>currentLevel</key>
	<string>20</string>
</dict>
</plist>
