<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>choices</key>
	<dict>
		<key>COUNTING STARS</key>
		<string>I,N,G,O,S,V,T,C,S,R,U,A,T,N,A,W,N,L,S,Z,G</string>
		<key>UPSIDE DOWN</key>
		<string>S,O,P,K,D,J,C,N,O,M,A,F,L,E,W,G,I,V,C,U,D</string>
		<key>WHITE HORSE</key>
		<string>T,I,E,S,H,E,T,Y,U,W,Q,O,R,H,B,K,A,L,W,E,C</string>
		<key>TIMBER</key>
		<string>R,O,M,T,B,N,P,A,S,I,E,C,M,T,B,Y,U,W,Q,O,R</string>
		<key>ANGEL</key>
		<string>T,B,N,P,A,S,I,E,D,G,V,N,I,D,M,O,A,W,U,L,X</string>
		<key>BABY</key>
		<string>A,S,I,E,D,G,V,N,I,D,M,O,Y,B,G,A,Y,B,H,N,M</string>
		<key>BAD</key>
		<string>D,G,V,N,I,D,M,T,M,A,Q,W,E,B,R,O,P,L,D,T,C</string>
		<key>BLUE</key>
		<string>A,V,L,F,L,T,I,W,U,E,H,L,A,B,M,P,R,T,B,N,P</string>
		<key>CUBA</key>
		<string>H,L,A,B,M,B,M,E,U,X,I,C,P,O,U,R,T,A,N,P,S</string>
		<key>HALO</key>
		<string>P,A,S,I,E,O,L,T,I,W,U,E,H,D,B,G,U,R,K,A,T</string>
		<key>HOME</key>
		<string>G,U,R,K,A,T,E,L,M,Z,C,O,V,B,H,N,M,I,P,A,S</string>
		<key>MAPS</key>
		<string>L,M,Z,C,O,S,E,P,M,D,B,G,U,R,K,A,J,V,I,L,A</string>
		<key>NO ONE</key>
		<string>Z,Q,S,C,F,N,E,Q,R,T,O,P,I,H,N,A,S,D,O,Y,S</string>
		<key>PARTY</key>
		<string>P,S,K,C,R,F,E,N,T,W,R,M,G,A,Y,S,K,R,P,A,I</string>
		<key>ROAR</key>
		<string>N,R,E,Y,J,H,A,Q,W,R,E,T,Y,A,U,I,P,O,L,R,K,L</string>
		<key>SHAME</key>
		<string>M,F,E,N,T,A,H,J,H,A,Q,S,S,E,P,M,D,B,G,U,E</string>
		<key>SMILE</key>
		<string>N,E,Q,R,T,O,P,I,I,W,R,S,M,L,M,D,B,G,U,E,K</string>
		<key>TRY</key>
		<string>C,A,D,S,F,H,R,E,K,R,I,N,E,T,X,Q,T,G,C,Y,O</string>
		<key>VENUS</key>
		<string>K,O,P,F,D,S,U,F,Y,E,R,I,O,R,D,H,V,N,M,N,B</string>
		<key>ANIMALS</key>
		<string>Y,N,S,W,D,N,M,A,M,L,I,S,X,N,M,B,E,A,V,C,Z</string>
		<key>CHICAGO</key>
		<string>S,N,C,O,F,M,E,H,W,C,G,O,T,E,C,K,L,S,I,T,A</string>
		<key>COMPASS</key>
		<string>S,D,A,S,B,C,M,O,A,I,E,L,N,S,V,P,S,B,L,C,R</string>
		<key>DEMONS</key>
		<string>T,R,S,C,O,L,W,O,E,Z,C,V,B,D,L,J,N,G,Y,M,S</string>
		<key>FANTASY</key>
		<string>B,Y,U,A,K,G,A,N,H,J,O,S,Y,P,Q,F,T,Q,C,Y,T</string>
		<key>HOLIDAY</key>
		<string>Y,W,A,S,Y,D,Y,O,A,S,D,F,H,G,J,I,K,A,L,C,N</string>
		<key>IMAGINE</key>
		<string>L,E,N,O,I,V,M,G,E,S,N,E,L,Y,A,D,C,L,I,O,U</string>
		<key>JEALOUS</key>
		<string>P,E,L,P,N,S,R,Y,M,E,S,O,A,W,P,J,T,E,U,M,R</string>
		<key>LONDON CALLING</key>
		<string>X,J,R,N,D,O,N,C,A,L,O,I,N,G,L,N,L,T,Z,E,C</string>
		<key>MIRRORS</key>
		<string>W,E,A,S,A,D,L,R,O,S,R,A,R,D,F,G,I,H,M,K,L</string>
		<key>ROYALS</key>
		<string>N,W,Y,H,G,Z,I,A,Y,S,D,O,F,G,R,H,A,J,K,L,S</string>
		<key>SMOOTH</key>
		<string>Y,X,H,R,C,Z,L,H,O,L,A,R,M,E,X,N,O,S,P,V,T</string>
		<key>ALL RISE</key>
		<string>O,G,I,D,M,R,Y,A,N,S,G,I,E,W,O,P,L,N,L,R,E</string>
		<key>ALL STAR</key>
		<string>R,I,S,E,T,A,L,R,K,L,O,P,E,C,A,I,M,S,B,A,T,S</string>
		<key>AMERICAN PIE</key>
		<string>S,Y,M,I,R,A,E,I,P,M,V,O,W,E,A,N,C,N,M,B,D</string>
		<key>APPLAUSE</key>
		<string>H,W,X,D,Y,C,L,A,Z,E,C,A,V,U,L,B,S,P,N,M,P</string>
		<key>FIREWORK</key>
		<string>I,L,A,S,W,B,R,C,K,F,Y,R,A,V,U,B,E,Y,R,O,W</string>
		<key>FRIDAY NIGHT</key>
		<string>G,Y,L,Y,T,H,X,A,D,G,I,H,T,I,R,F,S,J,F,N,Y</string>
		<key>HEART ATTACK</key>
		<string>D,Y,R,P,G,O,H,T,R,T,A,Q,E,C,K,A,I,W,H,T,A</string>
		<key>PARTY UP</key>
		<string>T,B,K,J,Y,L,T,S,W,R,P,Y,R,J,P,F,A,U,A,U,N</string>
		<key>ROCKSTAR</key>
		<string>S,J,K,U,Y,O,W,C,R,E,R,B,H,T,S,I,F,R,O,C,A</string>
		<key>STRONGER</key>
		<string>N,D,A,D,M,C,Z,O,A,R,E,T,D,F,H,S,R,I,P,N,G</string>
		<key>THE MASS</key>
		<string>C,E,U,S,Z,L,T,A,R,X,S,W,L,I,U,D,M,F,O,H,M</string>
		<key>THE SHOW</key>
		<string>C,Y,E,Z,T,S,R,Y,E,A,B,S,H,M,H,I,W,F,B,L,O</string>
		<key>TREASURE</key>
		<string>B,X,A,H,M,C,T,E,S,D,A,F,E,G,R,H,J,T,K,U,R</string>
		<key>UMBRELLA</key>
		<string>C,H,D,W,B,S,M,R,B,Q,L,M,W,T,Y,O,U,N,L,E,A</string>
		<key>YELLOW RIVER</key>
		<string>L,A,L,E,O,R,W,V,R,B,L,Y,A,E,I,L,C,R,Z,T,D</string>
		<key>BEAT IT</key>
		<string>T,B,A,K,F,O,M,A,K,T,R,W,E,V,B,T,G,Y,I,G,Q</string>
		<key>BETTER MAN</key>
		<string>T,B,A,K,F,E,M,A,K,T,R,W,E,V,B,T,G,Y,I,G,N</string>
		<key>BOTTOMS UP</key>
		<string>L,Y,L,B,U,U,W,S,T,O,O,M,T,C,K,P,Z,D,H,B,S</string>
		<key>CANDY RAIN</key>
		<string>J,G,B,F,U,D,M,R,N,I,A,A,R,S,C,N,Y,N,G,Y,Z</string>
		<key>DANCING QUEEN</key>
		<string>H,J,L,X,Z,Q,N,A,U,E,N,D,W,O,E,C,I,G,N,Y,F</string>
		<key>JUST DANCE</key>
		<string>S,N,B,I,O,G,C,T,D,S,A,E,Q,U,W,I,R,E,C,J,N</string>
		<key>LOSE YOURSELF</key>
		<string>N,S,C,J,F,D,L,Y,E,R,S,L,E,S,O,F,B,T,L,O,U</string>
		<key>LOVE ME</key>
		<string>I,P,O,L,N,E,O,H,S,E,Q,M,W,X,V,C,G,D,F,O,E</string>
		<key>MY LOVE</key>
		<string>Z,Y,R,S,H,D,A,Z,L,C,O,V,B,A,N,I,K,M,E,V,Y</string>
		<key>POKER FACE</key>
		<string>K,P,O,E,R,K,A,C,E,Z,O,C,V,B,N,F,P,L,Y,T,X</string>
		<key>STORM WARNING</key>
		<string>G,N,W,I,C,A,O,T,N,V,R,E,R,I,T,A,M,W,S,N,F</string>
		<key>THE WAY</key>
		<string>W,O,M,L,S,I,Y,T,R,N,A,U,E,H,I,N,T,A,E,T,O</string>
		<key>TIK TOK</key>
		<string>P,R,A,T,F,E,T,C,N,K,V,A,O,B,K,M,A,I,V,H,E</string>
		<key>WRECKING BALL</key>
		<string>T,I,D,Y,H,N,A,K,C,A,L,F,E,B,A,R,G,L,I,W,N</string>
		<key>BANG BANG</key>
		<string>S,H,T,R,P,B,A,L,N,C,O,G,B,N,A,M,B,G,N,F,R</string>
		<key>BILLIE JEAN</key>
		<string>I,N,L,B,C,L,E,P,A,R,J,E,I,U,E,O,B,H,D,S,D</string>
		<key>GET LUCKY</key>
		<string>G,Y,T,L,E,V,W,U,C,P,Y,S,E,B,K,R,U,A,C,E,M</string>
		<key>JUMP AROUND</key>
		<string>C,M,A,O,B,P,T,K,J,V,U,D,N,U,R,D,S,H,L,T,E</string>
		<key>MACHO MAN</key>
		<string>G,M,W,I,C,A,O,H,N,V,R,E,R,I,T,A,M,N,S,N,F</string>
		<key>NO SCRUBS</key>
		<string>N,A,R,C,S,B,N,K,O,G,T,U,B,N,O,S,H,C,M,G,B</string>
		<key>ONLY GIRL</key>
		<string>L,A,L,E,O,R,W,N,R,B,L,Y,A,E,I,L,G,R,Z,T,D</string>
		<key>PURPLE RAIN</key>
		<string>Y,X,R,P,L,R,E,E,U,T,A,N,I,P,O,B,R,M,G,N,D</string>
		<key>SLOW DOWN</key>
		<string>S,A,L,E,O,R,W,N,R,B,L,Y,A,O,I,L,G,R,W,T,D</string>
		<key>SLOW MOTION</key>
		<string>S,A,L,E,O,R,W,N,R,B,L,Y,A,O,I,L,G,O,Z,M,T</string>
		<key>STRAIGHT UP</key>
		<string>D,Q,T,P,R,T,K,O,L,G,S,H,X,T,A,I,U,G,N,S,Y</string>
		<key>THANK YOU</key>
		<string>Y,K,R,P,L,H,E,E,U,T,A,N,I,P,O,B,R,M,U,N,A</string>
		<key>THE MONSTER</key>
		<string>T,Y,R,S,H,D,A,Z,L,C,O,V,E,A,N,I,K,M,E,V,T</string>
		<key>THE ONE</key>
		<string>L,E,N,X,H,S,L,D,V,E,A,V,A,O,T,M,R,C,E,W,U</string>
		<key>HEAVEN</key>
		<string>A,S,L,H,T,R,B,E,M,D,W,N,G,H,X,I,Y,V,C,O,E</string>
	</dict>
	<key>musicPlaying</key>
	<array/>
	<key>musicUnfinished</key>
	<array>
		<array>
			<string>ALL RISE</string>
			<string>ALL STAR</string>
			<string>AMERICAN PIE</string>
			<string>APPLAUSE</string>
			<string>FIREWORK</string>
			<string>FRIDAY NIGHT</string>
			<string>HEART ATTACK</string>
			<string>PARTY UP</string>
			<string>ROCKSTAR</string>
			<string>STRONGER</string>
			<string>THE MASS</string>
			<string>THE SHOW</string>
			<string>TREASURE</string>
			<string>UMBRELLA</string>
			<string>YELLOW RIVER</string>
		</array>
		<array>
			<string>TIMBER</string>
			<string>SMOOTH</string>
			<string>ROYALS</string>
			<string>MIRRORS</string>
			<string>LONDON CALLING</string>
			<string>JEALOUS</string>
			<string>IMAGINE</string>
			<string>HOLIDAY</string>
			<string>HEAVEN</string>
			<string>FANTASY</string>
			<string>DEMONS</string>
			<string>COUNTING STARS</string>
			<string>COMPASS</string>
			<string>CHICAGO</string>
			<string>ANIMALS</string>
		</array>
		<array>
			<string>ANGEL</string>
			<string>BABY</string>
			<string>BAD</string>
			<string>BLUE</string>
			<string>CUBA</string>
			<string>HALO</string>
			<string>HOME</string>
			<string>MAPS</string>
			<string>NO ONE</string>
			<string>PARTY</string>
			<string>ROAR</string>
			<string>SHAME</string>
			<string>SMILE</string>
			<string>TRY</string>
			<string>VENUS</string>
		</array>
		<array>
			<string>BANG BANG</string>
			<string>BILLIE JEAN</string>
			<string>GET LUCKY</string>
			<string>JUMP AROUND</string>
			<string>MACHO MAN</string>
			<string>NO SCRUBS</string>
			<string>ONLY GIRL</string>
			<string>PURPLE RAIN</string>
			<string>SLOW DOWN</string>
			<string>SLOW MOTION</string>
			<string>STRAIGHT UP</string>
			<string>THANK YOU</string>
			<string>THE MONSTER</string>
			<string>UPSIDE DOWN</string>
			<string>WHITE HORSE</string>
		</array>
		<array>
			<string>BEAT IT</string>
			<string>BETTER MAN</string>
			<string>BOTTOMS UP</string>
			<string>CANDY RAIN</string>
			<string>DANCING QUEEN</string>
			<string>JUST DANCE</string>
			<string>LOSE YOURSELF</string>
			<string>LOVE ME</string>
			<string>MY LOVE</string>
			<string>POKER FACE</string>
			<string>STORM WARNING</string>
			<string>THE WAY</string>
			<string>TIK TOK</string>
			<string>WRECKING BALL</string>
			<string>THE ONE</string>
		</array>
	</array>
	<key>difficulty</key>
	<string>1</string>
	<key>currentLevel</key>
	<string>15</string>
</dict>
</plist>
